.heading{
    font-weight: 700;
    font-size: 25px;
    margin-left: 30px;
}
.button-container{
    margin: 10px 30px 10px 0;
}

.addEmployee{
    padding: 12px 15px;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    background: linear-gradient(to right, #1a1c21 0%, #688fe4 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border: none;
    border-radius: 8px;
}
.addEmployee:hover{
    background-position:0 0;
    color: white;
}
.addEmployee:first-child{
    margin-right: 20px;
}
