<form class="container alert alert-primary pt-5" (ngSubmit)= "onSubmit(myForm)"  #myForm="ngForm">
    <div class="row mb-3 form-container">
      <label class="col-sm-2 col-form-label">Employee Id</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="inputEmail3" name="Id" placeholder="Enter your emplyeeID" required [ngModel]= "id"  #Id ="ngModel">
        <small class="text-danger" *ngIf="!Id.valid && Id.touched">Please Enter EmployeeID</small>
      </div>
    </div>
  
    <div class="row mb-3 form-container">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputEmail3" name="name" placeholder="Enter your name"required [ngModel] ="userData.name" #name="ngModel">
        <small class="text-danger" *ngIf="!name.valid && name.touched">Please Enter Name</small>
      </div>
    </div>
  
    <div class="row mb-3 form-container">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="inputEmail3" required [pattern]= "emailPattern" placeholder="Enter your email" name="email" [ngModel] ="userData.email"
          #email="ngModel">
        <small class="text-danger" *ngIf="!email.valid && email.touched">Please Enter Valid Email</small>
      </div>
    </div>
    <div class="row mb-3 form-container">
      <label for="inputPassword3" class="col-sm-2 col-form-label">MobileNo</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="inputPassword3" placeholder="Enter your Phone number" required name="number" [pattern]="mobNumberPattern"
        [ngModel] ="userData.number" #number="ngModel">
        <small class="text-danger" *ngIf="!number.valid && number.touched">Please Enter valid number</small>
      </div>
    </div>
    <div class="row mb-3 form-container">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Department</label>
      <div class="col-sm-4">
        <select id="inputState" class="form-select" required name="department" [ngModel] ="userData.department" #department="ngModel">
          <option>Managed Service</option>
          <option>Professional Service</option>
          <option>Product Service</option>
          <option>HR</option>
          <option>Admin</option>
          <option>Finance</option>
          <option>Sales</option>
        </select>
        <small class="text-danger" *ngIf="!department.valid && department.touched">Please Select Department</small>
      </div>
    </div>
    <div class="button form-container">
      <button type="submit" class="btn btn-primary" [disabled]= "!myForm.valid">{{buttonType}}</button>
      <button type="reset" class="btn btn-danger">Reset</button>
  </div>
  </form>